.heading {
    color: var(--dark-grey);
    &.heading-lg {
        font-size: 40px;
        font-weight: 500;
    }
    &.heading-h2 {
        font-size: 24px;
        font-weight: 500;
    }
    &.heading-h3 {
        font-size: 18px;
        font-weight: 500;
    }
}