// ----------------------------------------------------------------------
// Partners Section
// ----------------------------------------------------------------------
.partners_section {
    height: 190px;
    background-color: #c4e4fc;
    padding: 50px 0 40px;
    border-top: 4px solid rgba(2, 61, 124, 0.56);
    border-bottom: 4px solid rgba(2, 61, 124, 0.56);
    .heading_section {
        text-align: center;
        margin-bottom: 15px;
    }
    .partnersList {
        &__item {
            padding: 10px;
        }
    }
}

// ----------------------------------------------------------------------
// LMS Intro Section
// ----------------------------------------------------------------------
.lms-intro-section {
    margin-top: 80px;
    .sys-panel {
        border-radius: 16px;
        border: 3px solid var(--dark-blue);
        background-color: var(--dark-blue);
        box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08), 0 8px 16px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.24);
        margin-bottom: 60px;
        &__heading-sm {
            padding: 3px 15px;
            color: white;
            font-weight: 600;
            font-size: 18px;
            > span {
                color: var(--yellow);
            }
        }
        &__heading-lg {
            padding: 5px 15px;
            font-size: 28px;
            font-weight: 500;
            color: var(--dark-blue);
            border-radius: 16px;
            border: 3px solid var(--dark-blue);
            background-color: white;
            @include flexbox();
            @include align-items(center);
            &--icon {
                font-size: 48px;
                margin-right: 10px;
            }
        }
    }
}

// ----------------------------------------------------------------------
// Quote Section
// ----------------------------------------------------------------------
.lms-quote-section {
    margin-top: 100px;
    .bubble-ps-top {
        position: absolute;
        left: 157px;
        top: 0;
    }
    .path-top {
        position: absolute;
        left: -56%;
        top: -40%;
        z-index: -1;
    }
    .path-top-2 {
        position: absolute;
        right: -65%;
        top: -35%;
        z-index: -1;
    }
    .sys-panel {
        border-radius: 16px;
        border: 3px solid var(--dark-blue);
        background-color: var(--dark-blue);
        box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08), 0 8px 16px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.24);
        margin-bottom: 60px;
        &__heading-sm {
            padding: 3px 15px;
            color: white;
            font-weight: 600;
            font-size: 18px;
        }
        &__heading-lg {
            padding: 5px 15px;
            font-size: 28px;
            font-weight: 500;
            color: var(--dark-blue);
            border-radius: 16px;
            border: 3px solid var(--dark-blue);
            background-color: white;
            @include flexbox();
            @include align-items(center);
            &--icon {
                font-size: 48px;
                margin-right: 10px;
            }
        }
    }
}

// ----------------------------------------------------------------------
// Ensure Compliance Section
// ----------------------------------------------------------------------
.ensure-compliance-section {
    margin-top: 80px;
    .path-top {
        position: absolute;
        left: 15%;
        top: -33%;
        z-index: -1;
    }
}

// ----------------------------------------------------------------------
// Virtual Preceptor Section
// ----------------------------------------------------------------------
.virtual-preceptor-section {
    margin-top: 150px;
    .path-top {
        position: absolute;
        left: 50%;
        top: -23%;
        z-index: -1;
    }
}

// ----------------------------------------------------------------------
// Patient Satisfaction Section
// ----------------------------------------------------------------------
.patient-satisfaction-section {
    margin-top: 110px;
    .path-top {
        position: absolute;
        left: -60%;
        top: -24%;
        z-index: -1;
    }
}

// ----------------------------------------------------------------------
// Contact Section
// ----------------------------------------------------------------------
.contact-section {
    max-width: 1200px;
    background-image: url("../../images/pic_contact@2x.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 64px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    .path-top {
        position: absolute;
        right: 22%;
        top: -50%;
        z-index: -1;
    }
    .form-request {
        margin: 24px 0;
    }
    .text-green {
        color: var(--green);
        font-size: 18px;
        font-weight: 500;
        text-decoration: underline;
    }
}

// ----------------------------------------------------------------------
// Partners Section
// ----------------------------------------------------------------------
.solutions_section {
    background-color: #c4e4fc;
    padding: 50px 0 40px;
    border-top: 4px solid rgba(2, 61, 124, 0.56);
    border-bottom: 4px solid rgba(2, 61, 124, 0.56);
    .heading_section {
        margin-bottom: 24px;
        text-align: center;
    }
    .partnersList {
        &__item {
            padding: 10px;
        }
    }
}

// ----------------------------------------------------------------------
// Team Section
// ----------------------------------------------------------------------
.team_section {
    margin: 80px 0;
    .teams-heading {
        margin-bottom: 80px;
        &__title {
            border-radius: 16px;
            border: 3px solid var(--dark-blue);
            opacity: 1;
            background-color: var(--dark-blue);
            margin: 0 auto;
            display: inline-block;
            margin-bottom: 40px;
            .text-brand {
                font-size: 18px;
                font-weight: 600;
                padding: 2px 16px;
                color: #fff;
                > span {
                    color: var(--yellow);
                }
            }
            h3 {
                color: var(--dark-blue);
                font-size: 28px;
                font-weight: 500;
                border-radius: 16px;
                border: 3px solid var(--dark-blue);
                box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08), 0px 8px 16px rgba(0, 0, 0, 0.16),
                    0px 2px 4px rgba(0, 0, 0, 0.24);
                background-color: var(--white);
                padding: 8px 12px;
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                &:before {
                    content: "";
                    width: 40px;
                    height: 40px;
                    background-image: url("../../images/team/icon_heading_team.png");
                    display: block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 10px;
                }
            }
        }
        &__desc {
            max-width: 570px;
            margin: 0 auto;
            color: var(--dark-grey);
            font-size: 24px;
            font-weight: 500;
        }
    }
}

// ----------------------------------------------------------------------
// Team Detail Section
// ----------------------------------------------------------------------
.team_section {
    .teams-row {
        &.mt-team-right-1 {
            margin-top: 120px;
        }
        &.mt-team-left-2 {
            margin-top: 185px;
        }
    }
    .path-top {
        position: absolute;
        left: -12%;
        top: -50%;
        z-index: -1;
    }
    .path-top-2 {
        position: absolute;
        right: -45%;
        top: -65%;
        z-index: -1;
    }
    .bubble-ps-bottom {
        position: relative;
        bottom: 90px;
        left: 197px;
        width: calc(100% - 200px);
    }
    .bubble-ps-bottom-coo {
        position: relative;
        bottom: 90px;
        left: 0;
        width: calc(100% - 200px);
    }
    .bg-team-left {
        background-image: url("../../images/background/bg_team_left.png");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
    }
    .bg-team-left-2 {
        background-image: url("../../images/background/bg_team_left_2.png");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
    }
    .bg-team-right {
        background-image: url("../../images/background/bg_team_right.png");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
    }
    .team-member-left {
        position: relative;
        &__avatar {
            width: 175px;
            height: 175px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            box-shadow: 0 0 0 2px var(--dark-blue) inset, 0 0 0 4px #fff inset;
            margin-bottom: 12px;
        }
        &__role {
            font-size: 16px;
            font-weight: 500;
            color: var(--dark-blue);
            box-shadow: 0 0 0 2px var(--dark-blue) inset, 0 0 0 4px #fff inset;
            background-color: var(--light-yellow);
            max-width: 291px;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            padding-right: 40px;
            padding-left: 32px;
            position: absolute;
            top: 32px;
            left: 150px;
            z-index: -1;
            text-align: justify;
            .name {
                font-size: 22px;
                font-weight: 500;
            }
            .content {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
    .team-member-right {
        position: relative;
        &__avatar {
            width: 175px;
            height: 175px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            box-shadow: 0 0 0 2px var(--dark-blue) inset, 0 0 0 4px #fff inset;
            margin-bottom: 12px;
            margin-left: auto;
        }
        &__role {
            font-weight: 500;
            color: var(--dark-blue);
            box-shadow: 0 0 0 2px var(--dark-blue) inset, 0 0 0 4px #fff inset;
            background-color: var(--light-yellow);
            max-width: 291px;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            padding-right: 40px;
            padding-left: 32px;
            position: absolute;
            top: 32px;
            left: 150px;
            z-index: -1;
            text-align: right;
            .name {
                font-size: 22px;
                font-weight: 500;
            }
            .content {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
    .team-content {
        &__top {
            color: var(--dark-blue);
            font-size: 22px;
            font-weight: 500;
            line-height: 32px;
            margin-bottom: 24px;
        }
        &__bottom {
            color: var(--body-text);
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            p {
                margin-bottom: 24px;
            }
        }
    }
}

// ----------------------------------------------------------------------
// Schedue Call Section
// ----------------------------------------------------------------------
.schedue-call-section {
    margin-bottom: 80px;
    text-align: center;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    &__content {
        color: var(--dark-grey);
        font-size: 24px;
        font-weight: 500;
        background: url("../../images/background/bg_effect_top_left.png") left top no-repeat,
            url("../../images/background/bg_effect_top_right.png") bottom right no-repeat;
    }
}

// ----------------------------------------------------------------------
// bubble
// ----------------------------------------------------------------------
.bubble-box {
    &__avatar {
        width: 140px;
        height: 140px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        box-shadow: 0 0 0 2px var(--dark-blue) inset, 0 0 0 4px #fff inset;
        margin-bottom: 12px;
    }
    &__name {
        font-size: 20px;
        font-weight: 500;
        color: var(--dark-blue);
    }
    &__role {
        font-size: 16px;
        font-weight: 500;
        color: var(--dark-blue);
    }
}

.bubble-arr-box {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 5px solid var(--dark-blue);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08), 0px 8px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    &.arrow {
        &:before,
        &:after {
            position: absolute;
            background-color: var(--light-blue);
            content: "\00a0";
            display: block;
            height: 29px;
            width: 29px;
            left: -6px;
            bottom: 0;
            transform: rotate(45deg) skew(-45deg);
        }
        &:before {
            background-color: transparent;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
            width: 30px;
        }
        &:after {
            bottom: 0;
            border: 6px solid var(--dark-blue);
        }
    }
    &.br {
        &:before,
        &:after {
            left: auto;
            right: 20px;
            transform: rotate(45deg) skew(45deg);
        }
        &:before {
            bottom: -10px;
            width: 24px;
            right: 21px;
        }
    }
    &.tl {
        &:before,
        &:after {
            bottom: auto;
            top: -5px;
            height: 29px;
            transform: rotate(-180deg) skew(45deg);
        }
        &:before {
            display: none;
        }
    }
    &.tr {
        &:before,
        &:after {
            bottom: auto;
            left: auto;
            right: 0;
            top: -15px;
            height: 41px;
            transform: rotate(-45deg) skew(45deg);
        }
        &:before {
            bottom: auto;
            top: -9px;
            width: 29px;
            right: 21px;
            box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.3);
        }
    }
    > .content {
        position: relative;
        background-color: var(--light-blue);
        z-index: 1;
        padding: 24px;
        border-radius: 11px;
    }
}

// ----------------------------------------------------------------------
// Margin section
// ----------------------------------------------------------------------
.section-mt-100 {
    margin-top: 100px;
}

.text-paragraph {
    color: var(--body-text);
    font-size: 18px;
    line-height: 28px;
}

// ----------------------------------------------------------------------
// Answer Text
// ----------------------------------------------------------------------
.answerItem {
    border: 2px solid $color-correct;
    transition: ease-in-out 0.3s;
    border-radius: 16px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.24);
    min-height: 56px;
    @include flexbox();
    @include align-items(center);
    position: relative;
    margin-bottom: 24px;
    &__icon {
        color: $color-correct;
        font-size: 32px;
        padding: 0.5625rem 0.25rem;
        border-right: 2px solid $color-correct;
    }
    &__text {
        padding: 0 12px;
        font-size: 16px;
        font-weight: 600;
        color: #333333;
    }
    &.correct {
        border-color: $color-correct;
        background-color: $bg-correct;
    }
}
