.partners_section {
    height: 190px;
    background-color: #c4e4fc;
    padding: 50px 0 40px;
    border-top: 4px solid rgba(2, 61, 124, 0.56);
    border-bottom: 4px solid rgba(2, 61, 124, 0.56);
    .partnersList {
        &__item {
            padding: 10px;
        }
    }
}

// ----------------------------------------------------------------------
// LMS Intro Section
// ----------------------------------------------------------------------
.lms-intro-section {
    margin-top: 80px;
    .sys-panel {
        border-radius: 16px;
        border: 3px solid var(--dark-blue);
        background-color: var(--dark-blue);
        box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08), 0 8px 16px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.24);
        margin-bottom: 60px;
        &__heading-sm {
            padding: 3px 15px;
            color: white;
            font-weight: 600;
            font-size: 18px;
        }
        &__heading-lg {
            padding: 5px 15px;
            font-size: 28px;
            font-weight: 500;
            color: var(--dark-blue);
            border-radius: 16px;
            border: 3px solid var(--dark-blue);
            background-color: white;
            @include flexbox();
            @include align-items(center);
            &--icon {
                font-size: 48px;
                margin-right: 10px;
            }
        }
    }
}

// ----------------------------------------------------------------------
// Quote Section
// ----------------------------------------------------------------------
.lms-quote-section {
    margin-top: 100px;
    .postiton-bubble {
        position: absolute;
        left: 135px;
        top: -80px;
    }
    .path-top {
        position: absolute;
        left: -56%;
        top: -40%;
        z-index: -1;
    }
    .path-top-2 {
        position: absolute;
        right: -65%;
        top: -35%;
        z-index: -1;
    }
    .sys-panel {
        border-radius: 16px;
        border: 3px solid var(--dark-blue);
        background-color: var(--dark-blue);
        box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08), 0 8px 16px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.24);
        margin-bottom: 60px;
        &__heading-sm {
            padding: 3px 15px;
            color: white;
            font-weight: 600;
            font-size: 18px;
        }
        &__heading-lg {
            padding: 5px 15px;
            font-size: 28px;
            font-weight: 500;
            color: var(--dark-blue);
            border-radius: 16px;
            border: 3px solid var(--dark-blue);
            background-color: white;
            @include flexbox();
            @include align-items(center);
            &--icon {
                font-size: 48px;
                margin-right: 10px;
            }
        }
    }
}

// ----------------------------------------------------------------------
// Ensure Compliance Section
// ----------------------------------------------------------------------
.ensure-compliance-section {
    margin-top: 80px;
    .path-top {
        position: absolute;
        left: 15%;
        top: -33%;
        z-index: -1;
    }
}

// ----------------------------------------------------------------------
// Virtual Preceptor Section
// ----------------------------------------------------------------------
.virtual-preceptor-section {
    margin-top: 150px;
    .path-top {
        position: absolute;
        left: 50%;
        top: -23%;
        z-index: -1;
    }
}

// ----------------------------------------------------------------------
// Patient Satisfaction Section
// ----------------------------------------------------------------------
.patient-satisfaction-section {
    margin-top: 110px;
    .path-top {
        position: absolute;
        left: -60%;
        top: -24%;
        z-index: -1;
    }
}

// ----------------------------------------------------------------------
// Contact Section
// ----------------------------------------------------------------------
.contact-section {
    max-width: 1200px;
    background-image: url("../../images/pic_contact@2x.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 64px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    .path-top {
        position: absolute;
        right: 22%;
        top: -50%;
        z-index: -1;
    }
    .form-request {
        margin: 24px 0;
    }
    .text-green {
        color: var(--green);
        font-size: 18px;
        font-weight: 500;
        text-decoration: underline;
    }
}

// ----------------------------------------------------------------------
// bubble
// ----------------------------------------------------------------------
.bubble-box {
    &__avatar {
        width: 140px;
        height: 140px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        box-shadow: 0 0 0 2px var(--dark-blue) inset, 0 0 0 4px #fff inset;
        margin-bottom: 12px;
    }
    &__name {
        font-size: 20px;
        font-weight: 500;
        color: var(--dark-blue);
    }
    &__role {
        font-size: 16px;
        font-weight: 500;
        color: var(--dark-blue);
    }
}

/*Right triangle, placed bottom left side slightly in*/
.talk-bubble {
    margin-left: 50px;
    display: inline-block;
    position: relative;
    height: auto;
    background-color: var(--light-blue);
    &.border-box {
        border: 5px solid var(--dark-blue);
    }
    &.round {
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
    }
    .talktext {
        padding: 24px;
    }
}

.tri-right.border-box.btm-left-in {
    &:before {
        content: " ";
        position: absolute;
        left: -35px;
        top: auto;
        bottom: 0;
        border-top: 30px solid transparent;
        border-right: 35px solid var(--dark-blue);
        border-left: none;
    }
    &:after {
        content: " ";
        position: absolute;
        left: -23px;
        top: unset;
        bottom: 5px;
        border-top: 20px solid transparent;
        border-right: 25px solid var(--light-blue);
        border-left: none;
    }
}

// ----------------------------------------------------------------------
// Margin section
// ----------------------------------------------------------------------
.section-mt-100 {
    margin-top: 100px;
}

.text-paragraph {
    color: var(--body-text);
    font-size: 18px;
    line-height: 28px;
}

.heading_section {
    text-align: center;
    margin-bottom: 15px;
}
